@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.logo {
    width: 100px;
    height: 40px;
    padding: 10px 12px 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #6070FF;
}

.menu {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 8px;
}

.desktop-menu {
    width: 258px;
    height: 40px;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.portfolio {
    width: auto;
    height: auto;
    padding: 10px 12px 10px 12px;
    font-family: 'Poppins', sans-serif;
    font-size: auto;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #344563;
}

.about {
    width: 70px;
    height: 40px;
    padding: 10px 12px 10px 12px;
    font-family: 'Poppins', sans-serif;
    font-size: auto;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #344563;
}

.contact {
    width: 86px;
    height: 40px;
    padding: 10px 12px 10px 12px;
    font-family: 'Poppins', sans-serif;
    font-size: auto;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    justify-content: center;
    color: #344563;
}



.headline {
    width: auto;
    height: 604px;
    background-repeat: no-repeat;
    background-size: cover;
}

.text1-mobile {
    width: auto;
    height: 140px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: #172B4D;
    padding-left: 8%;
    padding-top: 10%;
    display: flex;
}


.text2-mobile {
    width: auto;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #344563;
    padding-left: 8%;
}


.text3-mobile {
    width: 117px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #7F8CFF;
    padding-left: 8%;
}

.imagetag-mobile {
    width: 170.17px;
    height: 20px;
    padding-top: 5%;
    padding-left: 8%;
}

.mobile-container {
    width: auto;
    height: 48px;
    padding: 4px 12px 4px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desktop-container {
    display: none;
    /* Hide desktop container by default */
}

.text1-desktop {
    display: none;
}

.text2-desktop {
    display: none;
}

.text3-desktop {
    display: none;
}

.imagetag-desktop {
    display: none;
}

/* Media query for screens 768px and above */
@media (min-width: 768px) {
    .mobile-container {
        display: none;
        /* Hide mobile container on screens 768px and above */
    }

    .text1-mobile {
        display: none;
    }

    .text2-mobile {
        display: none;
    }

    .text3-mobile {
        display: none;
    }

    .imagetag-mobile {
        display: none;
    }

    .desktop-container {
        display: flex;
        /* Show desktop container on screens 768px and above */
        width: auto;
        height: 48px;
        align-items: center;
        padding: 5px 4px 4px 5px;
        justify-content: space-between;
        margin-left: 8%;
        margin-right: 8%;
    }

    .text1-desktop {
        width: auto;
        height: 27%;
        font-family: 'Poppins', sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0.3700000047683716px;
        text-align: left;
        color: #091E42;
        display: flex;
        padding-left: 16%;
        margin-top: 15%;
    }

    .text2-desktop {
        width: auto;
        height: auto;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: #344563;
        display: flex;
        padding-left: 16%;
        padding-right: 16%
    }

    .text3-desktop {
        width: auto;
        height: auto;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #7F8CFF;
        padding-left: 16%;
        display: flex;
    }

    .imagetag-desktop {
        width: 170.17px;
        height: 20px;
        display: flex;
        padding-left: 16%;
    }
}

/* Media query for screens 768px and above (desktop version) */
@media (min-width: 768px) {
    .headline {
        background-image: url('/icons/Header\ bg@2x.png');
        /* Path to your desktop background image */
    }
}

/* Media query for screens below 768px (mobile version) */
@media (max-width: 767px) {
    .headline {
        background-image: url('/icons/header-mobile.png');
        /* Path to your mobile background image */
    }
}